*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-size: 100%;
	font-size: 14px;
	// max-width: 1920px;
}

// variables
$GreenColor: #b6c04c;
$white: #fff;
$OpenFont: 'Open Sans', sans-serif;
$breakLines: #004169;
$H1color: #404040;
$H1font: 'Droid Serif', serif;
$BlackText: #333e48;

.line_above{
	height: 5px;
	background-color: #fff;
}

@mixin global_wrapper{
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

@mixin close_space{
	margin-top: -5px;
}

@mixin buttons{
	background-color: $GreenColor;
	border: 1px solid $GreenColor;
	color: $white;
	text-transform: uppercase;
	font-size: 1em;
	font-family: $OpenFont;
	line-height: 1.625em;
	cursor: pointer;
}

.header{
	background-color: #30618a;
	& .global_wrapper{
		@include global_wrapper;
		@media screen and(max-width: 1020px) {
			display: block;
		}
		& .header__logo_block{
			margin-top: -5px;
			@media screen and(max-width: 1020px) {
					width: 20%;
					margin: -5px auto 0;
				}
			& img{
				width: 100%;
			}
		}
		& .header__phone_info{
			width: 65%;
			text-align: right;
			padding-top: 2.5%;
			@media screen and (max-width: 1020px) {
				display: block;
				margin: 0 auto;
				width: 90%;
			}
			@media screen and (max-width: 740px) {
				text-align: center;
			}
			& .header__phone_info_part{
				display: inline-flex;
				justify-content: space-between;
				width: 45%;
				align-items: center;
				margin-right: 8.6%;
				@media screen and (max-width: 1020px) {
					margin: 0 auto 2%;
				}
				@media screen and (max-width: 740px) {
					width: 90%;
				}
				& .header__phone_info_part_block{
					& p{
						margin: 8px;
						& a{
							text-decoration: none;
							color: $white;
							font-size: 0.875em;
							font-family: $OpenFont;
							font-weight: 400;
							& span{
								color: $GreenColor;
							}
						}
					}
				}
				& .header__phone_info_part__ring_phone{
					display: inline-block;
					margin: 0 1.85%
				}
			}
			& .header__phone_info_recal {
				width: 25%;
				@include buttons;
				margin-top: 0;
				vertical-align: bottom;
				margin-bottom: 2%;
				@media screen and (max-width: 1020px) {
					display: block;
					margin: 0 auto;	
				}
				@media screen and (max-width: 740px) {
					margin: 0 auto 5%;	
				}
				@media screen and(max-width: 530px) {
						width: 50%;	
				}
			}
			& .header__phone_info_nav{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 2%;
				& .nav_item{
					text-decoration: none;
					text-transform: uppercase;
					color: $white;
					font-size: 1.07em;
					font-weight: 600;
					line-height: 1.4em;
					font-family: $OpenFont;
					border-bottom: 5px solid transparent;
					height: 2.15em;
					transition: all 0.5s;
					@media screen and(max-width: 530px) {
						margin-right: 3%;	
					}
					&:hover{
						border-bottom: 5px solid $GreenColor;
					}
				}
			}
		}
	}
}

.slider{
	@include close_space
	overflow: hidden;
	& .slider_view{
		white-space: nowrap;
		transition: all 1.5s ease-in-out;
		width: 100%;
		& .img_box{
			display: inline-block;
			& img{
				width: 100%;
			}
		}
	}
}

.slider_nav{
	background-color: $breakLines;
	@include close_space;
	& .wrapper{
		@include global_wrapper;
		align-items: center;
		@media screen and(max-width: 1024px){
			padding-right: 3%;
			padding-left: 3%;
		}
		& h3{
			color: $white;
			font-family: $OpenFont;
			font-size: 1em;
			font-style: italic;
			line-height: 1.69em;
			@media screen and(max-width: 695px){
				font-size: 0.5em;
			}
		}
	}
}

.disclaimer{
	&__wrapper{
		text-align: center;
		max-width: 1140px;
		margin: 0 auto;
		border-bottom: 1px solid #dfdfdf;
		& h1{
			font-size: 3.29em;
			line-height: 1.69em;
			font-family: $H1font;
			color: $H1color;
			margin-top: 5%;
			font-weight: 400;
			margin-bottom: 1%;
		}
		& p{
			@extend h1;
			font-size: 2em;
			margin-top: 0;
			margin-bottom: 5%;
		}
	}
}

.buildings{
	&_wrapper{
		max-width: 1140px;
		margin: 5% auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& .house_block{
			width: 23%;
			@media screen and(max-width: 940px) {
				width: 43%;
			}
			@media screen and(max-width: 740px) {
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
			// margin-right: 2.6%;
			margin-bottom: 2%;
			vertical-align: top;
			&:nth-child(4n+4){
				margin-right: 0;
			}
			&__up{
				position: relative;
				transition: all 3s linear;
				& img{
					width: 100%;
				}
				& a{
					display: none;
					width: 100%;
					height: 32%;
					background-color: #30618a;
					text-decoration: none;
					vertical-align: 75%;
					color: $white;
					font-size: 1.2em;
					font-style: italic;
					font-family: $H1font;
					text-align: center;
					position: absolute;
					padding-top: 12%;
					bottom: 0;
					left: 0;
					clip-path: polygon(0 0%, 130% 87%, 100% 100%, 0% 100%);
					
					& img{
						width: 5%;
						margin-left: 5%
					}
				}
				&:hover > a{
					display: block;
				}
			}
			&_down{
				border: 1px solid #dfdfdf;
				margin-top: -4px;
				padding-top: 1%;
				padding-left: 5%;
				padding-right: 0;
				height: 15em;
				border-top: transparent;
				& h4{
					color: $BlackText;
					font-family: $OpenFont;
					font-size: 1.29em;
					font-weight: 600;
					margin-bottom: 5%;
				}
				& .region{
					margin-bottom: 0;
					margin-top: 0;
					& b{
						color: $BlackText;
						font-family: $OpenFont;
						line-height: 1.9em;
					}
					& span {
						color: #616161;
						font-family: $OpenFont;
						line-height: 1.9em;
					}
				}
				& .deadline{
					@extend .region;
				}
				& .price{
					& b{
						color: $BlackText;
						font-family: $OpenFont;
						line-height: 1.9em;
					}
					& span{
						@extend h4;
					}
				}
			}
		}
	}
}

.description{
	max-width: 1140px;
	margin: 5% auto;
	@media screen and (max-width: 740px) {
				padding-left: 3%;
				padding-right: 3%;
	}
	& h2{
		color: #3f3f3f;
		font-family: $H1font;
		font-size: 2em;
		font-weight: 400;
		line-height: 1.9em;
		margin-bottom: 0%;
	}
	& .description_text{
		height: 8em;
		padding: 0% 0%;
		overflow: hidden;
		position: relative;
		transition: all 5s;
		& p{
			color: #616161;
			font-family: $OpenFont;
			line-height: 1.8em;
		}
		& .white_shadow{
			width: 100%;
			height: 5em;
			position: absolute;
			bottom: 0;
			left: 0;
			box-shadow: inset -8px -200px 259px -67px rgba(255,255,255,1);
		}
	}
	& button{
		width: 20%;
		@include buttons;
		display: block;
		margin: 6% auto;
	}
}

.prefooter{
	@extend .slider_nav;
	@media screen and (max-width: 740px) {
		display: block;
	}
	& .h3a {
		width: 4%;
		height: 1px;
		background-color: $white;
		@media screen and (max-width: 740px) {
			display: none;
		}
	}
}

.footer{
	background: url(../images/footer-bg.png) center;
	background-size: cover;
	padding-top: 3%;
	@media screen and (max-width: 740px) {
				padding-left: 3%;
				padding-right: 3%;
	}
	& .global_wrapper{
		@include global_wrapper;
		@media screen and(max-width: 600px) {
			display: block;
		}
		& .links{
			vertical-align: top;
			& a{
				text-decoration: none;
				display: block;
				color: $white;
				font-family: $OpenFont;
				font-weight: 300;
				line-height: 1.8em;
				@media screen and(max-width: 600px) {
					display: inline-block;
					margin-right: 2%;
				}
			}
		}
		& .consult{
			vertical-align: top;
			text-align: center;
			width: 35%;
			@media screen and(max-width: 600px) {
				width: 90%;
				margin: 3% auto;
				text-align: center;
			}
			& h5{
				color: $white;
				font-family: $OpenFont;
				font-size: 1.4em;
				font-weight: 400;
				line-height: 1.5em;
				margin-top: 0;
				margin-bottom: 2%;
			}
			& .footer__phone_info_part{
				display: flex;
				justify-content: space-between;
				@media screen and (max-width: 740px) {
					display: block;
				}
				& p{
					margin: 8px;
					& a{
						text-decoration: none;
						color: $white;
						font-size: 1.2em;
						font-family: $OpenFont;
						font-weight: 300;
						& span{
							color: $GreenColor;
						}
					}
				}
				& .one{
					margin-right: 5%;
				}
			}
			& .built{
				margin-top: 5em;
				& p{
					color: $white;
					font-family: $OpenFont;
					font-weight: 300;
					font-size: 0.8em;
				}
			}
		}
		& .contacts{
			@media screen and(max-width: 600px) {
					display: flex;
					justify-content:space-between;
			}
			& .address{
				& span{
					color: $white;
					font-family: $OpenFont;
					font-weight: 300;
					font-size: 1em;
					line-height: 1.6em;
				}
			}
			& .soc{
				color: $white;
				font-family: $OpenFont;
				font-weight: 300;
				font-size: 1em;
				line-height: 1.6em;
				margin-top: 10%;
				& span{
					display: block;
				}
				& a {
					text-decoration: none;
					margin-right: 7%;
				}
			}
		}
	}
}


















