<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8").
		meta(name="viewport" content="width=device-width, initial-scale=1.0").
		title БУДОВА
		link(rel="stylesheet" href="assets/style.css").
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&subset=cyrillic" rel="stylesheet").
		link(href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i" rel="stylesheet").
	body
		.line_above
		.header
			include jade/header.jade
		.slider#slider
			.slider_view#slider_view
				.img_box
					img(src="images/1sl.png" alt="slider image")
				.img_box
					img(src="images/2sl.png" alt="slider image")
				.img_box
					img(src="images/3sl.png" alt="slider image")
		.slider_nav
			.wrapper
				a(href="#" id="left"): img(src="images/left.png" alt="arrow nav")
				h3 Продажа недвижимости от официального представителя строительной компании
				a(href="#" id="right"): img(src="images/right.png" alt="arrow nav")
		.disclaimer
			.disclaimer__wrapper
				h1 Новые объекты
				p от строительной компании «Будова»
		.buildings
			.buildings_wrapper
				include jade/buildings.jade
		.description
			h2 Недвижимость от СК «Будова»
			.description_text#texty
				p Современная пластическая хирургия и эстетическая медицина помогают решать самые сложные задачи коррекции внешности. Проблемы многих пациентов сегодня становятся решаемыми при использовании новых технологий и современной аппаратуры. Теперь безопасная пластическая операция  и качественное обновление состояния лица и тела и исправление внешних недостатков доступно и в Украине в клинике доктора Патлажана. За 16 лет успешной работы пластический хирург Патлажан Геннадий Игоревич овладел успешными методиками выполнения пластических операций и поставил их на службу своим пациентам. Скальпель доктора не только возвращает здоровье и идеальный. Современная пластическая хирургия и эстетическая медицина помогают решать самые сложные задачи коррекции внешности. Проблемы многих пациентов сегодня становятся решаемыми при использовании новых технологий и современной аппаратуры. Теперь безопасная пластическая операция  и качественное обновление состояния лица и тела и исправление внешних недостатков доступно и в Украине в клинике доктора Патлажана. За 16 лет успешной работы пластический хирург Патлажан Геннадий Игоревич овладел успешными методиками выполнения пластических операций и поставил их на службу своим пациентам. Скальпель доктора не только возвращает здоровье и идеальный.Современная пластическая хирургия и эстетическая медицина помогают решать самые сложные задачи коррекции внешности. Проблемы многих пациентов сегодня становятся решаемыми при использовании новых технологий и современной аппаратуры. Теперь безопасная пластическая операция  и качественное обновление состояния лица и тела и исправление внешних недостатков доступно и в Украине в клинике доктора Патлажана. За 16 лет успешной работы пластический хирург Патлажан Геннадий Игоревич овладел успешными методиками выполнения пластических операций и поставил их на службу своим пациентам. Скальпель доктора не только возвращает здоровье и идеальный.Современная пластическая хирургия и эстетическая медицина помогают решать самые сложные задачи коррекции внешности. Проблемы многих пациентов сегодня становятся решаемыми при использовании новых технологий и современной аппаратуры. Теперь безопасная пластическая операция  и качественное обновление состояния лица и тела и исправление внешних недостатков доступно и в Украине в клинике доктора Патлажана. За 16 лет успешной работы пластический хирург Патлажан Геннадий Игоревич овладел успешными методиками выполнения пластических операций и поставил их на службу своим пациентам. Скальпель доктора не только возвращает здоровье и идеальный.
				.white_shadow#shadovy
			button#readMore Читать подробнее

		.prefooter
			.wrapper
				h3 Наш опыт работы на рынке недвижимости 15 лет
				.h3a
				h3 Партнер СК «Будова»
				.h3a
				h3 Стоимость квартир от застройщика, оформление 0%
		.footer
			include jade/footer.jade



		script(src="assets/script.js").


