.global_wrapper
	.links
		a(href='#') О компании
		a(href='#') Новостройки
		a(href='#') Вторичная недвижимость
		a(href='#') Цены
		a(href='#') Контакты
	.consult
		h5 Консультации менеджеров:
		.footer__phone_info_part
			.footer__phone_info_part_block.one
				p: <a href="tel:+380487703430">+38 (048) <span>770 34 30</span></a>
				p: <a href="tel:+380675189009">+38 (048) <span>518 90 90</span></a>
			.footer__phone_info_part_block.two 
				p: <a href="tel:+380639136643">+38 (063) <span>913 66 43</span></a>
				p: <a href="tel:+380997858248">+38 (099) <span>785 82 48</span></a>
		.built
			p © 2016 Вся Будова. Сайт разработан: AVADA-MEDIA
	.contacts
		.address
			span Украина, г. Одесса,</br> пр. Шевченка, 7 
		.soc
			span Мы в соцсетях:
			a(href='#')
				img(src='images/vk.png')
			a(href='#')
				img(src='images/fb.png')